<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Survival</title>
    <link type="text/css" rel="stylesheet" href="css/style.css" inline />
</head> 
<body>
    <div id="wrapper">
        <canvas id="game" width="1000" height="1000"></canvas>
        <div class="phone">
            <div class="top-bar"></div>
            <div class="sleep"></div>
            <div class="volume"></div>
            <div class="camera"></div>
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="screen">
                <div id="compass">
                    <span>N</span>
                    <span>E</span>
                    <span>S</span>
                   <span>W</span>
                   <div id="pointer"></div>
                </div>
            </div>
            <div class="home"></div>
            <div class="bottom-bar"></div>
        </div>
    </div>
    <script src="scripts/game.js" inline></script>
</body>
</html>