<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/style.css" inline />
</head> 
<body>
    <div id="wrapper">
        <canvas id="game" width="1000" height="1000"></canvas>
        <div id="phone">
            <div id="phone-top-bar"></div>
            <div id="phone-sleep"></div>
            <div id="phone-volume"></div>
            <div id="phone-camera"></div>
            <div id="phone-sensor"></div>
            <div id="phone-speaker"></div>
            <div id="phone-screen">
                <div class="phone-app phone-camera">
                    <p class="phone-camera-icon"></p>
                    <p class="phone-progress-bar"></p>
                </div>
                <div class="phone-app phone-light">
                    <p class="phone-light-icon"></p>
                </div>
                <div class="phone-app phone-sound">
                    <p class="phone-sound-icon">♫</p>
                </div>
                <div class="phone-app phone-health">
                    <p class="phone-health-icon"></p>
                    <p class="phone-progress-bar"></p>
                </div>
                <div id="compass" style="display: none">
                    <span>N</span>
                    <span>E</span>
                    <span>S</span>
                   <span>W</span>
                   <div id="pointer"></div>
                </div>
                <div class="signal-bar" data-level="1">
                    <p class="signal-bar-1"></p>
                    <p class="signal-bar-2"></p>
                    <p class="signal-bar-3"></p>
                    <p class="signal-bar-4"></p>
                    <p class="signal-bar-5"></p>
                </div>
                <ul id="iphone-keyboard">
                </ul>
            </div>
            <div id="phone-home"></div>
            <div id="phone-bottom-bar"></div>
        </div>
        <div id="text-overlay">
            <p id="text"></p>
        </div>
    </div>
    <script src="scripts/game.js" inline></script>
</body>
</html>