* {
  margin: 0;
  padding: 0;
  &, 
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    color: #fff;
    background: $background-color;
    &.phase-text {
        #iphone-keyboard-wrapper {
            transform: translateY(0);   
        }
        #text-overlay {
            display: block;   
        }
    }
    &.pause {
        #text-overlay {
            display: block;
            &:after {
                display: block;
            }
        }
        #text {
            font-size: 26px;
            line-height: 1.3;   
        }
    }
    &.phase-compass {
        #compass {
            display: block;   
        }
        #signal-bar {
            display: none;
        }
    }
}

b {
    color: yellow;    
}

#wrapper {
    position: absolute;
    top: calc(50% - 500px);
    left: calc(50% - 700px);
    width: 1400px;
    height: 1000px;
}

#game {
    width: 1000px;
    height: 1000px;
    background: #000;
    animation: shake 20s; 
    animation-iteration-count: infinite; 
    transition: transform 0.2s ease;
}

#game.moving {
    animation-duration: 8s; 
}

#game.sprinting {
    animation-duration: 3s; 
}

@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, 0px) rotate(-0.1deg); }
    20% { transform: translate(0px, 0px) rotate(0.1deg); }
    30% { transform: translate(0px, 2px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(0.1deg); }
    50% { transform: translate(-2px, 2px) rotate(-0.1deg); }
    60% { transform: translate(0px, 2px) rotate(0deg); }
    70% { transform: translate(0px, 2px) rotate(-0.1deg); }
    80% { transform: translate(-2px, -2px) rotate(0.1deg); }
    90% { transform: translate(2px, -2px) rotate(0deg); }
    100% { transform: translate(2px, 2px) rotate(-0.1deg); }
}