.phone-app {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 27.3333%;
    margin: 5% 3%;
    padding-top: 27.3333%;
    background: #ccc;   
    border-radius: 15%;
    b {
        position: absolute;
        bottom: -15px;
        left: 0;
        right: 0;
        font-size: 11px;
        color: $white;  
        text-align: center;
        font-weight: normal;
    }
    &:not(#phone-health) {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.phone-health-icon {
    position: absolute;
    top: 20px;
    left: 30px;
    background-color: #C44;
    display: inline-block;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    
    &::before,
    &::after {
        content: "";
        background-color: #C44;
        border-radius: 50%;
        height: 20px;
        position: absolute;
        width: 20px;
    }
    
    &::before {
        top: -10px;
        left: 0;
    }
    
    &::after {
        left: 10px;
        top: 0;
    }   
}

#phone-camera {
    background: #A93;
}

#phone-camera-icon {
    position:absolute;
    display:block;
    top: 20px;
    left: 20%;
    width: 60%;
    height: 40%;
    background-color:#000;
    border-radius:5px;

    &::after{
        content:"";
        display:block;
        width: 22px;
        height: 22px;
        border: 4px solid #A93;
        position:absolute;
        top: 10%;
        left: calc(50% - 11px);
        background-color:#000;
        border-radius: 50%;
    }
    &::before{
        content:"";
        display:block;
        width:50%;
        height:7px;
        position:absolute;
        top:-16%;
        left:25%;
        background-color:#000;
        border-radius:10px;
    }
}

#phone-light {
    background: #19c;
}

#phone-light-icon {
    position: absolute;
    display: block;
    top: 15px;
    left: 33px;
    width: 10px;
    height: 42px;
    background-image: linear-gradient(to bottom, #000 38px, rgba(0, 0, 0, 0) 38px, rgba(0, 0, 0, 0) 40px, #000 40px, #000 42px);
    &::before {
        content: '';
        height: 7px;
        display: block;
        position: relative;
        left: -8px;
        top: -8px;
        border-top: 28px solid #000;
        border-right: 13px solid transparent;
        border-left: 13px solid transparent;    
    }
    &::after {
        content: '';
        display: block;
    }
}

#phone-sound {
    background: #e86;
    color: #000;
}

.phone-sound-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 50px;
    line-height: 66px;   
}

$gear-size: 18px;
.phone-gear {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 12px;
    margin: $gear-size/5;
    width: $gear-size;
    height: $gear-size;
    background: white;
    border-radius: 50%;
    border: $gear-size/3.5 solid gray;
    box-sizing: border-box;
    font-size: $gear-size;
    z-index: 2;
    &:before,
    &:after {
        content: '×';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-family: "times new roman";
        font-weight: bold;
        font-size: 250%;
        color: gray;
    }
    
    &:after {
        transform: translate(-50%,-50%) rotate(45deg);
    }
    + .phone-gear {
        position: absolute;
        top: 30px;
        right: 30px;
        transform: scale(1.5) rotate(13deg);
    }
}

#phone-notes {
    background-image: linear-gradient(to bottom, #fd2 0, #ec3 20px, #aaa 21px, #fff 21px, #fff 32px, #aaa 33px, #fff 34px, #fff 46px, #aaa 47px, #fff 48px, #fff 60px, #aaa 61px, #fff 62px);
}

#notes {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
    background: #fd2;
    z-index: 2;
    transition: all 0.3s;
    &:not(.visible) {
        transform: translateY(100%);
    }
    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 45px;
        left: 0;
        right: 0;
        height: 1px;
        background: #999;
        box-shadow: 0 60px 0 0 #999, 0 90px 0 0 #999, 0 120px 0 0 #999;
    }
}

#settings,
#music {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    padding: 80px 20px;
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
    transition: all 0.3s;
    background: #ccc;
    z-index: 3;
    &:not(.visible) {
        transform: translateY(100%);
    }
}