#phone {
    display: inline-block;
    position: absolute;
    top: 150px;
    right: 0;
    width: 296px;
    height: 614px;
    padding: 73px 17px;
    border-radius: 39px;
    background: #464646;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.7);
    &:before {
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        position: absolute;
        top: 4px;
        content: '';
        left: 4px;
        border-radius: 35px;
        background: #080808;
        z-index: 1;
    }

    &:after {
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        position: absolute;
        top: 6px;
        content: '';
        left: 6px;
        border-radius: 34px;
        box-shadow:
            inset 0 0 3px 0 rgba(0, 0, 0, 0.1),
            inset 0 0 6px 3px #212121;
        z-index: 2;
    }
}

#phone-screen {
    width: 100%;
    position: relative;
    height: 100%;
    z-index: 3;
    background: white;
    overflow: hidden;
    display: block;
    border-radius: 1px;
    //box-shadow: 0 0 20px #fff;
    background: #222;
}

#phone-top-bar,
#phone-bottom-bar {
    height: 2px;
    background: black;
    width: 100%;
    display: block;
}

#phone-home {
    border-radius: 100%;
    width: 47px;
    height: 47px;
    position: absolute;
    left: 50%;
    margin-left: -24px;
    bottom: 15px;
    z-index: 3;
    background: rgb(8, 8, 8);
    background: linear-gradient(135deg, rgba(8, 8, 8, 1) 0%,rgba(70, 70, 70, 1) 50%,rgba(8, 8, 8, 1) 100%);

    &:before {
        background: #080808;
        position: absolute;
        content: '';
        border-radius: 100%;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        top: 3px;
        left: 3px;
    }
}

#phone-top-bar {
    height: 10px;
    background: #212121;
    position: absolute;
    top: 47px;
    left: 0;
}

#phone-bottom-bar {
    height: 10px;
    background: #212121;
    position: absolute;
    bottom: 47px;
    left: 0;
}

#phone-sleep {
    position: absolute;
    top: 133px;
    right: -3px;
    width: 3px;
    height: 46px;
    border-radius: 0px 2px 2px 0px;
    background: #464646;
}

#phone-volume {
    position: absolute;
    left: -3px;
    top: 131px;
    z-index: 0;
    height: 46px;
    width: 3px;
    border-radius: 2px 0px 0px 2px;
    background: #464646;

    &:before {
        position: absolute;
        left: 2px;
        top: -55px;
        height: 28px;
        width: 2px;
        border-radius: 2px 0px 0px 2px;
        background: inherit;
        content: '';
        display: block;
    }

    &:after {
        position: absolute;
        left: 0px;
        top: 57px;
        height: 46px;
        width: 3px;
        border-radius: 2px 0px 0px 2px;
        background: inherit;
        content: '';
        display: block;
    }
}

#phone-flash {
    background: #080808;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -4px;
    border-radius: 100%;
    z-index: 3;
}

#phone-sensor {
    background: #3c3d3d;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 34px;
    left: 94px;
    z-index: 3;
    border-radius: 100%;
}

#phone-speaker {
    background: #292728;
    width: 49px;
    height: 4px;
    position: absolute;
    top: 38px;
    left: calc(50% - 25px);
    border-radius: 4px;
    z-index: 3;
}
