$signal-strength-bar-height: 85px;
$signal-strength-bar-width: 120px;

#signal-bar {
    position: absolute;
    bottom: 99px;
    left: calc(50% - #{$signal-strength-bar-width / 2});
    height: $signal-strength-bar-height;
    width: $signal-strength-bar-width;
     p {
        width: 16%;
        margin: 0 2%;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #eee;
    }
    &-1 {
        height: 20%;
    }
    &-2 {
        height: 40%;
    }
    &-3 {
        height: 60%;
    }
    &-4 {
        height: 80%;
    }
    &-5 {
        height: 99%;
    }
    &[data-level="1"] {
        animation: blink 2s infinite;
        p:first-child {
            background-color: #e44;
            border: thin solid darken(#e44, 20%);
        }
    }
    &[data-level="2"] {
        animation: blink 2s infinite;
        p:nth-child(-n + 2) {
            background-color: #e44;
            border: thin solid darken(#e44, 20%);
        }
    }
    &[data-level="3"] {
        p:nth-child(-n + 3) {
            background-color: #fc1;
            border: thin solid darken(#fc1, 7%);
        }
    }
    &[data-level="4"] {
        p:nth-child(-n + 4) {
            background-color: #fc1;
            border: thin solid darken(#fc1, 7%);
        }
    }
    &[data-level="5"] {
        p {
            background-color: #2a8;
            border: thin solid darken(#2a8, 7%);
        }
    }
}
.good .bar {
}
.bad .bar {
}
.ok .bar {
  background-color: #fc1;
  border: thin solid darken(#fc1, 7%);
}


@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}