#text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    &::after {
        display: none;
        content: 'Press Enter to continue';
        position: absolute;
        bottom: 200px;
        right: 0;
        font-size: 20px;
    }
}

.text {
    padding-top: 300px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 3px;
    span {
        display: inline-block;
        vertical-align: baseline;
        transition: all 0.4s ease;
        &.current {
            border-bottom: 2px solid yellow;
        }
        &.checked {
            opacity: 0;
            transform: translateY(-100px);
        }
    }
    em {
        font-size: 70%;
    }
}