$background-color: #000;
$card-border: #c0b39e;

$white: #fff;
$black: #000;

$warrior-color: #942;
$mage-color: #18b;
$thief-color: #449;
$assassin-color: #777;
$protector-color: #a80;
$heal-color: #162;
